#title{margin-top:3em;font-size:20px}.cont2{text-align:center}.inputchido{height:20px;width:400px;border:none;padding:1em;font-size:18px}#ready{width:150px;height:50px;border:none;font-size:18px;transition:.2s}#ready:hover{background:#23e098;color:#fff}