<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Usuario Responsable</title>
	<link rel="stylesheet" type="text/css" href="/css/principal.css" />
	<link rel="stylesheet" href="/css/profile.css">
	<link rel="stylesheet" href="/css/pushy.css">
	<link rel="stylesheet" href="/css/pieces.css">
	<link rel="stylesheet" href="/css/material.css">
	<link href='/img/1.png' rel='shortcut icon' type='image/png'>

	<script src="/js/jquery-2.1.1.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
	<script src="/js/pushy.js"></script>
</head>
<body>
	<div id="body-wrapper"></div>
	<header class="header relative border-bottom">
		<a href="#" class="icon-menu left menu-btn"></a>
		<div class="logo">
			<div class="ambar">
				<span>
					Ámbar
				</span>
			</div>
			<div class="search right">
				<form action="">
					<input type="text" placeholder="Buscar" id="buscar" />
					<input type="submit" id="lupisha" />
					<a href="#" class="icon-search"></a>	
				</form>
			</div>
		</div>
	</header>
	<nav class="pushy pushy-left">
		<ul class="piezas.html">
			<li class="item">
				<a href="/app/"> 
					<span class="icon-home"></span>
					Home
				</a>
			</li>
			<li class="item">
				<a href="/app/profile/"> 
					<span class="icon-usuario"></span>
					Perfil
				</a>
			</li>
			<li>
				<a href="/app/users/">
					<span class="icos-usuario">
					Usuarios
				</a>
			</li>
			<li class="item">
				<a href="/app/collections/">
					<span class="icon-stats"></span>
					Colecciones
				</a>
			</li>
			<li class="item">
				<a href="/app/arduinos/"> 
					<span class="icon-bars"></span>
					Arduinos
				</a>
			</li>
			<li class="item">
				<a href="/app/logout"> 
					<span class="icon-left"></span>
					Salir
				</a>
			</li>
		</ul>
	</nav>
	<section class="container center">
		<div class="menu">
			<ul class="piezas.html">
				<a href="/app/"> 
					<li class="item">
						<span class="icon-home"></span>
						Home
					</li>
				</a>
				<a href="/app/profile/"> 
					<li class="item">
						<span class="icon-usuario"></span>
						Perfil
					</li>
				</a>
				<a href="/app/users/"> 
					<li class="item">
						<span class="icon-usuario"></span>
						Usuarios
					</li>
				</a>
				<a href="/app/collections/">
					<li class="item">
						<span class="icon-stats"></span>
						Colecciones
					</li>
				</a>
				<a href="/app/arduinos/"> 
					<li class="item">
						<span class="icon-bars"></span>
						Arduinos
					</li>
				</a>
				<a href="/app/logout"> 
					<li class="item">
						<span class="icon-left"></span>
						Salir
					</li>
				</a>
			</ul>
		</div>
		<div class="cont2">
			<article class="register collection">
				<span class="land">
					<div class="title">
						<h3>Responsabilizar a un usuario:</h3>
					</div>
					<form action="/app/arduinos/arduino/<%= arduino %>/responsable_user" method="POST">
					<div class="field">
						<input type="hidden" value="<%= arduino %>" name="arduinoId">
						<select name="userId" id="id_userId">
							<% for(var i = 0; i < users.length; i++){ %>
								<option value="<%= users[i]._id %>"><%= users[i].name %></option>
							<% } %>
						</select>
					</div>
					<div class="field">
						<input type="Submit" value="Crear">
					</div>
					</form>
				</span>
			</article>
		</div>
	</section>
	<script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</body>
</html>
