<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Ámbar</title>

		<link rel="stylesheet" href="/css/salas.css">
		<link rel="stylesheet" type="text/css" href="/css/principal.css" />
		<link rel="stylesheet" href="/css/pushy.css">
		<link rel="stylesheet" href="/css/pieces.css">
		<link rel="stylesheet" href="/css/material.css">
		<link href='/img/1.png' rel='shortcut icon' type='image/png'>

		<script src="/js/jquery-2.1.1.min.js"></script>
	  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
		<script src="/js/pushy.js"></script>
	</head>
	<body>
	<div id="body-wrapper"></div>
	<header class="header relative border-bottom">
		<a href="#" class="icon-menu left menu-btn"></a>
		<div class="logo">
			<div class="ambar">
				<span>
					Arduino
				</span>
			</div>
			<div class="search right">
				<form action="">
					<input type="text" placeholder="Buscar" id="buscar"/>
					<input type="submit" id="lupisha"/>
					<a href="#" class="icon-search"></a>	
				</form>
			</div>
		</div>
	</header>
	<nav class="pushy pushy-left">
		<ul class="piezas.html">
			<li class="item">
				<a href="/app/"> 
					<span class="icon-home"></span>
					Home
				</a>
			</li>
			<li class="item">
				<a href="/app/profile/"> 
					<span class="icon-usuario"></span>
					Perfil
				</a>
			</li>
			<% if (admin) { %>
				<li>
					<a href="/app/users/">
						<span class="icos-usuario">
						Usuarios
					</a>
				</li>
			<% } %>
			<li class="item">
				<a href="/app/collections/">
					<span class="icon-stats"></span>
					Colecciones
				</a>
			</li>
			<li class="item">
				<a href="/app/arduinos/"> 
					<span class="icon-bars"></span>
					Arduinos
				</a>
			</li>
			<li class="item">
				<a href="/app/logout"> 
					<span class="icon-left"></span>
					Salir
				</a>
			</li>
		</ul>
	</nav>
	<section class="container center">
		<div class="menu">
			<ul class="piezas.html">
				<a href="/app/"> 
					<li class="item">
						<span class="icon-home"></span>
						Home
					</li>
				</a>
				<a href="/app/profile/"> 
					<li class="item">
						<span class="icon-usuario"></span>
						Perfil
					</li>
				</a>
				<% if (admin) { %>
					<a href="/app/users/"> 
						<li class="item">
							<span class="icon-usuario"></span>
							Usuarios
						</li>
					</a>
				<% } %>
				<a href="/app/collections/">
					<li class="item">
						<span class="icon-stats"></span>
						Colecciones
					</li>
				</a>
				<a href="/app/arduinos/"> 
					<li class="item">
						<span class="icon-ba arduino"></span>
						Arduinos
					</li>
				</a>
				<a href="/app/logout"> 
					<li class="item">
						<span class="icon-left"></span>
						Salir
					</li>
				</a>
			</ul>
		</div>
		<div class="cont2">
			<article class="register arduino">
				<span class="land">
					<h4>Arduino: <%= arduino.id_arduino %></h4>
					<h4>Coleccion: <%= arduino.collections[arduino.collections.length - 1].name %></h4>
					<div class="title">
				<h4>Usuarios responsables</h4>
				<% for (var i = 0; i < arduino.responsableUsers.length; i++) { %>
					<a href="/app/user/<%= arduino.responsableUsers[i]._id %>">
							<p><strong>Usuario: </strong> <%= arduino.responsableUsers[i].username %></p>
							<p><strong>Nombre completo: </strong> <%= arduino.responsableUsers[i].name %> <%= arduino.responsableUsers[i].surname %></p>
					</a>
				<% } %>
				<h4>Temperatures</h4>
				<ul id="T">
					<% if(typeof(arduino.temperatures[0]) == "undefined") {%>
						<li>
							<span><span class="temperature_number" id="T"></span>No hay registros</span>
						</li>
					<% } else { %>
						<% for(var i = 0; i < arduino.temperatures.length; i++) {%>
							<li>
								<span>Temperatura: <span><%= arduino.temperatures[i].temperature %></span>°</span>
								<span>Tiempo: <span><%= arduino.humidities[i].date%></span></span>
							</li>
						<% } %>
					<% } %>
				</ul>
				<h4>Humidities</h4>
				<ul id="H">
					<% if(typeof(arduino.humidities[0]) == "undefined") {%>
						<li>
							<span><span class="humidity_number" id="H"></span>No hay registros</span>
						</li>
					<% } else { %>
						<% for(var i = 0; i < arduino.humidities.length; i++) {%>
							<li>
								<span>Humedad: <span><%= arduino.humidities[i].humidity%></span>%</span>
								<span>Tiempo: <span><%= arduino.humidities[i].date%></span></span>
							</li>
						<% } %>
					<% } %>
				</ul>
				</div>
			</article>
		</div>				
		<% if (admin) { %>
		<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		    <a href="/app/arduinos/arduino_change/<%= arduino._id %>/" class="btn-floating waves-effect waves-light btn-large blue">
		      <i class="mdi-editor-mode-edit"></i>
		    </a>
		    <ul>
		    	 <li><label id="userLabel" class="addLabel hidden" for="route">Añadir responsable</label>
		       		<a href="/app/arduinos/arduino/<%= arduino._id %>/responsable_user/" id="user" class="btn-floating waves-effect waves-light indigo"><i class="large mdi-social-person-add"></i></a>
		      </li>
		    </ul>
		</div>
		<% } %>
	</section>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/js/labels.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
	  var socket = io();
	  var name = "send_record " + "<%= arduino.id_arduino %>"
	  socket.on(name, function (data){
	  		var date = new Date(data.time);
	        var string_date = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + " | " + date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear();
	  		$("#T").append("<li>" + 
							"<span>Temperatura: <span>" + data.temperature + "</span>°</span>" +
							"<span>Tiempo: <span> " + string_date +  "</span></span>" +
 						"</li>");
	  		$("#H").append("<li>" + 
							"<span>Humedad: <span>" + data.humidity + "</span>%</span>" +
							"<span> Tiempo: <span> " + string_date +  "</span></span>" +
 						"</li>");
	  });
	</script>
	</body>
</html>