<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Crear Arduino</title>
	<link rel="stylesheet" type="text/css" href="/css/principal.css" />
	<link rel="stylesheet" href="/css/profile.css">
	<link rel="stylesheet" href="/css/pieces.css">
	<link rel="stylesheet" href="/css/pushy.css">
	<link rel="stylesheet" href="/css/material.css">
	<link href='/img/1.png' rel='shortcut icon' type='image/png'>

	<script src="/js/jquery-2.1.1.min.js"></script>
	<script src="/js/pushy.js"></script>
</head>
<body><div id="body-wrapper"></div>
	<header class="header relative border-bottom">
		<a href="#" class="icon-menu left menu-btn"></a>
		<div class="logo">
			<div class="ambar">
				<span>
					Cambiar Arduino
				</span>
			</div>
			<div class="search right">
				<form action="">
					<input type="text" placeholder="Buscar" id="buscar" />
					<input type="submit" id="lupisha" />
					<a href="#" class="icon-search"></a>	
				</form>
			</div>
		</div>
	</header>
	<nav class="pushy pushy-left">
		<ul class="piezas.html">
			<li class="item">
				<a href="/app/"> 
					<span class="icon-home"></span>
					Home
				</a>
			</li>
			<li class="item">
				<a href="/app/profile/"> 
					<span class="icon-usuario"></span>
					Perfil
				</a>
			</li>
			<li>
				<a href="/app/users/">
					<span class="icos-usuario">
					Usuarios
				</a>
			</li>
			<li class="item">
				<a href="/app/collections/">
					<span class="icon-stats"></span>
					Colecciones
				</a>
			</li>
			<li class="item">
				<a href="/app/arduinos/"> 
					<span class="icon-bars"></span>
					Arduinos
				</a>
			</li>
			<li class="item">
				<a href="/app/logout"> 
					<span class="icon-left"></span>
					Salir
				</a>
			</li>
		</ul>
	</nav>
	<section class="container center">
		<div class="menu">
			<ul class="piezas.html">
				<a href="/app/"> 
					<li class="item">
						<span class="icon-home"></span>
						Home
					</li>
				</a>
				<a href="/app/profile/"> 
					<li class="item">
						<span class="icon-usuario"></span>
						Perfil
					</li>
				</a>
				<a href="/app/users/"> 
					<li class="item">
						<span class="icon-usuario"></span>
						Usuarios
					</li>
				</a>
				<a href="/app/collections/">
					<li class="item">
						<span class="icon-stats"></span>
						Colecciones
					</li>
				</a>
				<a href="/app/arduinos/"> 
					<li class="item">
						<span class="icon-bars"></span>
						Arduinos
					</li>
				</a>
				<a href="/app/logout"> 
					<li class="item">
						<span class="icon-left"></span>
						Salir
					</li>
				</a>
			</ul>
		</div>
		<div class="cont2">
			<article class="register">
				<span class="land">
					<div class="title">
						<h2>Cambiar Arduino:</h2>
					</div>
					<form action="/app/arduino_change/<%= arduino._id %>" method="POST">
						<input type="hidden" value="<%= arduino._id %>" name="id">
						<div class="field">
							Id arduino: <input type="text" id="id_arduino" name="id_arduino" placeholder="Id arduino" required value="<%= arduino.id_arduino %>">
						</div>
						<div class="field">
							Colección: <select name="collection" id="id_collection">
								<% for(var i = 0; i < collections.length; i++) {%>
									<% if (collections[i]._id == arduino.collections[0]._id) {%>
										<option value="<%= collections[i]._id %>" selected><%= collections[i].name %></option>
									<% } else { %>
										<option value="<%= collections[i]._id %>"><%= collections[i].name %></option>
									<% } %>
								<% } %>
							</select>
						</div>
						<div class="field">
							<input type="Submit" value="Cambiar">
						</div>
					</form>
				</span>
			</article>
		</div>
	  </div>
	</section>
	<script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</body>
</html>