<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Ámbar</title>

		<link rel="stylesheet" type="text/css" href="/css/principal.css" />
		<link rel="stylesheet" href="/css/salas.css">
		<link rel="stylesheet" href="/css/pushy.css">
		<link rel="stylesheet" href="/css/material.css">
		<link href='/img/1.png' rel='shortcut icon' type='image/png'>
		<script src="/js/jquery-2.1.1.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
		<script src="/js/pushy.js"></script>
	</head>
	<body><div id="body-wrapper"></div>
	<header class="header relative border-bottom">
		<a href="#" class="icon-menu left menu-btn"></a>
		<div class="logo">
			<div class="ambar">
				<span>
					Colecciones
				</span>
			</div>
			<div class="search right">
				<form action="">
					<input type="text" placeholder="Buscar" id="buscar"/>
					<input type="submit" id="lupisha"/>
					<a href="#" class="icon-search"></a>	
				</form>
			</div>
		</div>
	</header>
	<nav class="pushy pushy-left">
		<ul class="piezas.html">
			<li class="item">
				<a href="/app/"> 
					<span class="icon-home"></span>
					Home
				</a>
			</li>
			<li class="item">
				<a href="/app/profile/"> 
					<span class="icon-usuario"></span>
					Perfil
				</a>
			</li>
			<% if (admin) { %>
				<li>
					<a href="/app/users/">
						<span class="icos-usuario">
						Usuarios
					</a>
				</li>
			<% } %>
			<li class="item">
				<a href="/app/collections/">
					<span class="icon-stats"></span>
					Colecciones
				</a>
			</li>
			<li class="item">
				<a href="/app/arduinos/"> 
					<span class="icon-bars"></span>
					Arduinos
				</a>
			</li>
			<li class="item">
				<a href="/app/logout"> 
					<span class="icon-left"></span>
					Salir
				</a>
			</li>
		</ul>
	</nav>
	<section class="container center">
		<div class="menu">
			<ul class="piezas.html">
				<a href="/app/"> 
					<li class="item">
						<span class="icon-home"></span>
						Home
					</li>
				</a>
				<a href="/app/profile/"> 
					<li class="item">
						<span class="icon-usuario"></span>
						Perfil
					</li>
				</a>
				<% if (admin) { %>
					<a href="/app/users/"> 
						<li class="item">
							<span class="icon-usuario"></span>
							Usuarios
						</li>
					</a>
				<% } %>
				<a href="/app/collections/">
					<li class="item">
						<span class="icon-stats"></span>
						Colecciones
					</li>
				</a>
				<a href="/app/arduinos/"> 
					<li class="item">
						<span class="icon-bars"></span>
						Arduinos
					</li>
				</a>
				<a href="/app/logout"> 
					<li class="item">
						<span class="icon-left"></span>
						Salir
					</li>
				</a>
			</ul>
		</div>
		<div class="cont2">
			<% if (collections.length > 0) { %>
				<% for(var i = 0; i < collections.length; ++i){ %>
					<article class="piece">
						<a href="/app/collection/<%= collections[i]._id %>" class="land">
							<article class="info">
								<span>
									<p><%= collections[i].name %></p>
								</span>
							</article>	
						</a>			
					</article>
				<% } %>
			<% } else { %>
				<article class="no_content">
					<p>No se encuetra ninguna colección</p>			
				</article>
			<% } %>
			<% if (admin) { %>
			<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
			    <a href="/app/collection/new/" class="btn-floating waves-effect waves-light btn-large blue">
			      <i class="large mdi-content-add"></i>
			    </a>
			</div>
			<% } %>
		</div>
	</section>
	</body>
</html>