<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/css/index.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600' rel='stylesheet' type='text/css'>
	<link href='/img/1.png' rel='shortcut icon' type='image/png'>
	<title>Ambar</title>
</head>
<body><div id="body-wrapper"></div>
	<section class="container small">
		<figure class="user">
			<img src="/img/user.png" alt="Usuario">
		</figure>
		<p class="title">
			Member Login
		</p>
		<div class="login">
			<form method="post" action="/app/login" >				
				<input class="input" type="text" name="email" placeholder="Username" required>
				<input class="input" type="password" name="password" placeholder="********" required>
				<input class="input" type="submit" name="entrar" value="Login">
			</form>
		</div>
	</section>
</body>
</html>