<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title><%= user.username %></title>
	<link rel="stylesheet" type="text/css" href="/css/principal.css" />
	<link rel="stylesheet" href="/css/profile.css">
	<link rel="stylesheet" href="/css/pushy.css">
	<link rel="stylesheet" href="/css/material.css">
	<link href='/img/1.png' rel='shortcut icon' type='image/png'>

	<script src="/js/jquery-2.1.1.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
	<script src="/js/pushy.js"></script>
</head>
<body><div id="body-wrapper"></div>
	<header class="header relative border-bottom">
		<a href="#" class="icon-menu left menu-btn"></a>
		<div class="logo">
			<div class="ambar">
				<span>
					Perfil
				</span>
			</div>
			<div class="search right">
				<form action="">
					<input type="text" placeholder="Buscar" id="buscar" />
					<input type="submit" id="lupisha" />
					<a href="#" class="icon-search"></a>	
				</form>
			</div>
		</div>
	</header>
	<nav class="pushy pushy-left">
		<ul class="piezas.html">
			<li class="item">
				<a href="/app/"> 
					<span class="icon-home"></span>
					Home
				</a>
			</li>
			<li class="item">
				<a href="/app/profile/"> 
					<span class="icon-usuario"></span>
					Perfil
				</a>
			</li>
			<% if (admin) { %>
				<li>
					<a href="/app/users/">
						<span class="icos-usuario">
						Usuarios
					</a>
				</li>
			<% } %>
			<li class="item">
				<a href="/app/collections/">
					<span class="icon-stats"></span>
					Colecciones
				</a>
			</li>
			<li class="item">
				<a href="/app/arduinos/"> 
					<span class="icon-bars"></span>
					Arduinos
				</a>
			</li>
			<li class="item">
				<a href="/app/logout"> 
					<span class="icon-left"></span>
					Salir
				</a>
			</li>
		</ul>
	</nav>
	<section class="container center">
		<div class="menu">
			<ul class="piezas.html">
				<a href="/app/"> 
					<li class="item">
						<span class="icon-home"></span>
						Home
					</li>
				</a>
				<a href="/app/profile/"> 
					<li class="item">
						<span class="icon-usuario"></span>
						Perfil
					</li>
				</a>
				<% if (admin) { %>
					<a href="/app/users/"> 
						<li class="item">
							<span class="icon-usuario"></span>
							Usuarios
						</li>
					</a>
				<% } %>
				<a href="/app/collections/">
					<li class="item">
						<span class="icon-stats"></span>
						Colecciones
					</li>
				</a>
				<a href="/app/arduinos/"> 
					<li class="item">
						<span class="icon-bars"></span>
						Arduinos
					</li>
				</a>
				<a href="/app/logout"> 
					<li class="item">
						<span class="icon-left"></span>
						Salir
					</li>
				</a>
			</ul>
		</div>
		<div class="cont2">
			<article class="pic">
				<figure class="profile_pic">
					<img src="/img/user.png" alt="">
				</figure>
			</article>
			<article class="data">
				<p>
					<strong>Usuario: </strong><span class="username"><%= user.username %></span>
				</p>
				<p>
					<strong>Nombre: </strong><span class="name"><%= user.name %></span>
				</p>
				<p>
					<strong>Apellido: </strong><span class="surname"><%= user.surname %></span>
				</p>
				<p>
					<strong>Correo: </strong><span class="email"><%= user.email %></span>
				</p>
				<p>
					<strong>Teléfono: </strong><span class="phone"><%= user.phones[0] %></span>
				</p>
				<p>
					<strong>Tipo: </strong>
					<span class="type">
						<% if (user.type == 0) { %>
							Administrador
						<% } else { %>
							Restaurador
						<% } %>					
					</span>
				</p>
			</article>
			<article class="pieces">
				<% for(var i = 0; i < (user.arduinos).length; ++i){ %>
					<div class="piece">
						<a href="/app/arduinos/arduino/<%= user.arduinos[i]._id %>">
							<span class="info">
								<p class="pieza">
									<span><%= user.arduinos[i].id_arduino %></span>
								</p>
								<p class="sala" id="<%= user.arduinos[i].id_arduino %>">
									<% if (user.arduinos[i].temperatures.length != 0) { %>
										<span class="T"><%= user.arduinos[i].temperatures[user.arduinos[i].temperatures.length - 1].temperature%>°</span>
										<span class="H"><%= user.arduinos[i].humidities[user.arduinos[i].humidities.length - 1].humidity %>%</span>
									<% } else { %>
										<span class="T">°</span>
											<span class="H">%</span>
									<% } %>
								</p>
							</span>
						</a>
					</div>
				<% } %>
			</article>
		<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		    <a href="/app/user_change/<%= user._id %>" class="btn-floating waves-effect waves-light btn-large blue">
		      <i class="mdi-editor-mode-edit"></i>
		    </a>
		    <% if (admin) { %>					
		    <ul>
		    	 <li><label id="userLabel" class="addLabel hidden" for="route">Nuevo usuario</label>
		        <button><a href="/app/user/new" id="user" class="btn-floating waves-effect waves-light indigo"><i class="large mdi-social-person-add"></i></a></button>
		      </li>
			  <li><label id="deactivateLabel" class="addLabel hidden" for="route">Nueva colección</label>
		        <button><a href="/app/collection/new" id="deactivate" class="btn-floating waves-effect waves-light green"><i class="large mdi-action-list"></i></a></button>
		      </li>
		      <li><label id="eraseLabel" class="addLabel hidden" for="place">Nuevo arduino</label>
		        <button><a href="/app/arduino/new" id="erase" class="btn-floating waves-effect waves-light red"><i class="mdi-hardware-memory"></i></a></button>
		      </li>
		    </ul>
		    <% } %>
		</div>
	</section>
	<script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
	  var socket = io();
	  var name = "send_record";
	  socket.on(name, function (data){
	  		console.log(data);
	  		var arduino_id = data.id_arduino;
	  		$("#" + arduino_id + " > span.T").html("<span>" + data.temperature + "°</span>" );
	  		$("#" + arduino_id + " > span.H").html("<span>" + data.humidity + "%</span>");
	  });
	</script>
	<script src="/js/labels.js"></script>
</body>
</html>