<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title><%= user_now.username %></title>
	<link rel="stylesheet" type="text/css" href="/css/principal.css" />
	<link rel="stylesheet" href="/css/profile.css">
	<link rel="stylesheet" href="/css/pushy.css">
	<link rel="stylesheet" href="/css/material.css">
	<link href='/img/1.png' rel='shortcut icon' type='image/png'>

	<script src="/js/jquery-2.1.1.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
	<script src="/js/pushy.js"></script>
</head>
<body><div id="body-wrapper"></div>
	<header class="header relative border-bottom">
		<a href="#" class="icon-menu left menu-btn"></a>
		<div class="logo">
			<div class="ambar">
				<span>
					Usuario
				</span>
			</div>
			<div class="search right">
				<form action="">
					<input type="text" placeholder="Buscar" id="buscar" />
					<input type="submit" id="lupisha" />
					<a href="#" class="icon-search"></a>	
				</form>
			</div>
		</div>
	</header>
	<nav class="pushy pushy-left">
		<ul class="piezas.html">
			<li class="item">
				<a href="/app/"> 
					<span class="icon-home"></span>
					Home
				</a>
			</li>
			<li class="item">
				<a href="/app/profile/"> 
					<span class="icon-usuario"></span>
					Perfil
				</a>
			</li>
			<% if (admin) { %>
				<li>
					<a href="/app/users/">
						<span class="icos-usuario">
						Usuarios
					</a>
				</li>
			<% } %>
			<li class="item">
				<a href="/app/collections/">
					<span class="icon-stats"></span>
					Colecciones
				</a>
			</li>
			<li class="item">
				<a href="/app/arduinos/"> 
					<span class="icon-bars"></span>
					Arduinos
				</a>
			</li>
			<li class="item">
				<a href="/app/logout"> 
					<span class="icon-left"></span>
					Salir
				</a>
			</li>
		</ul>
	</nav>
	<section class="container center">
		<div class="menu">
			<ul class="piezas.html">
				<a href="/app/"> 
					<li class="item">
						<span class="icon-home"></span>
						Home
					</li>
				</a>
				<a href="/app/profile/"> 
					<li class="item">
						<span class="icon-usuario"></span>
						Perfil
					</li>
				</a>
				<% if (admin) { %>
					<a href="/app/users/"> 
						<li class="item">
							<span class="icon-usuario"></span>
							Usuarios
						</li>
					</a>
				<% } %>
				<a href="/app/collections/">
					<li class="item">
						<span class="icon-stats"></span>
						Colecciones
					</li>
				</a>
				<a href="/app/arduinos/"> 
					<li class="item">
						<span class="icon-bars"></span>
						Arduinos
					</li>
				</a>
				<a href="/app/logout"> 
					<li class="item">
						<span class="icon-left"></span>
						Salir
					</li>
				</a>
			</ul>
		</div>
		<div class="cont2">
			<article class="pic">
				<figure class="profile_pic">
					<img src="/img/user.png" alt="">
				</figure>
				<div>
			</article>
			<article class="data">				<p>
					<strong>Usuario: </strong><span class="username"><%= user_now.username %></span>
				</p>
				<p>
					<strong>Nombre: </strong><span class="name"><%= user_now.name %></span>
				</p>
				<p>
					<strong>Apellido: </strong><span class="surname"><%= user_now.surname %></span>
				</p>
				<p>
					<strong>Correo: </strong><span class="email"><%= user_now.email %></span>
				</p>
				<p>
					<strong>Teléfono: </strong><span class="phone"><%= user_now.phones[0] %></span>
				</p>
				<p>
					<strong>Tipo: </strong>
					<span class="type">
						<% if (user_now.type == 0) { %>
							Administrador
						<% } else { %>
							Restaurador
						<% } %>					
					</span>
				</p>
				<p>
					<strong>Entrada inicial: </strong><span class="first_day"><%= user_now.first_day %></span>
				</p>
			</article>
			<article class="pieces">
				<% for(var i = 0; i < (user_now.arduinos).length; ++i){ %>
					<div class="piece">
						<a href="/app/arduinos/arduino/<%= user_now.arduinos[i]._id %>">
							<span class="info">
								<p class="pieza">
									<span><%= user_now.arduinos[i].id_arduino %></span>
								</p>
								<p class="sala" id="<%= user_now.arduinos[i].id_arduino %>">
									<% if (user_now.arduinos[i].temperatures.length != 0) { %>
										<span class="T"><%= user_now.arduinos[i].temperatures[user_now.arduinos[i].temperatures.length - 1].temperature%>°</span>
										<span class="H"><%= user_now.arduinos[i].humidities[user_now.arduinos[i].humidities.length - 1].humidity %>%</span>
									<% } %>
								</p>
							</span>
						</a>
					</div>
				<% } %>
			</article>
		<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		    <a class="btn-floating waves-effect waves-light btn-large blue" href="/app/user_change/<%= user_now._id %>">
		      <i class="mdi-editor-mode-edit"></i>
		    </a>
		    <% if (admin) { %>					
		    <ul>
			<form action="/app/user/<%= user_now._id %>/activated_toggle" method="POST">
			<% if (user_now.activated) { %>
				<li><label id="deactivateLabel" class="addLabel hidden" for="route">Desactivar usuario</label>
		        <button><a id="deactivate" class="btn-floating waves-effect waves-light yellow"><i class="large mdi-content-block"></i></a></button>
		      </li>
			<% } else { %>
		      <li><label id="deactivateLabel" class="addLabel hidden" for="route">Activar usuario</label>
		        <button><a id="deactivate" class="btn-floating waves-effect waves-light green"><i class="icon-bars"></i></a></button>
		      </li>
			<% } %>
			</form>
			<form action="/app/user/<%= user_now._id %>" method="POST">
		      <li><label id="eraseLabel" class="addLabel hidden" for="place">Borrar usuario</label>
		        <button><a href="" id="erase" class="btn-floating waves-effect waves-light red"><i class="large mdi-content-clear"></i></a></button>
		      </li>
			</form>
		    </ul>
		    <% } %>
		</div>
	</section>
	<script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
	<script>
	  var socket = io();
	  var name = "send_record";
	  socket.on(name, function (data){
	  		var arduino_id = data.id_arduino;
	  		$("#" + arduino_id + " > span.T").html("<span>" + data.temperature + "°</span>" );
	  		$("#" + arduino_id + " > span.H").html("<span>" + data.humidity + "%</span>");

	  });
	</script>
	<script src="/js/labels.js"></script>
</body>
</html>