<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Usuarios</title>
 
		<link rel="stylesheet" type="text/css" href="/css/principal.css" />
		<link rel="stylesheet" href="/css/pieces.css">
		<link rel="stylesheet" href="/css/pushy.css">
		<link rel="stylesheet" href="/css/material.css">
		<link href='/img/1.png' rel='shortcut icon' type='image/png'>
		<script src="/js/jquery-2.1.1.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
		<script src="/js/pushy.js"></script>
</head>
<body><div id="body-wrapper"></div>
	<header class="header relative border-bottom">
		<a href="#" class="icon-menu left menu-btn"></a>
		<div class="logo">
			<div class="ambar">
				<span>
					Usuarios
				</span>
			</div>
			<div class="search right">
				<form action="">
					<input type="text" placeholder="Buscar" id="buscar"/>
					<input type="submit"id="lupisha"/>
					<a href="#" class="icon-search"></a>	
				</form>
			</div>
		</div>
	</header>
	<nav class="pushy pushy-left">
		<ul class="piezas.html">
			<li class="item">
				<a href="/app/"> 
					<span class="icon-home"></span>
					Home
				</a>
			</li>
			<li class="item">
				<a href="/app/profile/"> 
					<span class="icon-usuario"></span>
					Perfil
				</a>
			</li>
			<li>
				<a href="/app/users/">
					<span class="icos-usuario">
					Usuarios
				</a>
			</li>
			<li class="item">
				<a href="/app/collections/">
					<span class="icon-stats"></span>
					Colecciones
				</a>
			</li>
			<li class="item">
				<a href="/app/arduinos/"> 
					<span class="icon-bars"></span>
					Arduinos
				</a>
			</li>
			<li class="item">
				<a href="/app/logout"> 
					<span class="icon-left"></span>
					Salir
				</a>
			</li>
		</ul>
	</nav>
	<section class="container center">
		<div class="menu">
			<ul class="piezas.html">
				<a href="/app/"> 
					<li class="item">
						<span class="icon-home"></span>
						Home
					</li>
				</a>
				<a href="/app/profile/"> 
					<li class="item">
						<span class="icon-usuario"></span>
						Perfil
					</li>
				</a>
				<a href="/app/users/"> 
					<li class="item">
						<span class="icon-usuario"></span>
						Usuarios
					</li>
				</a>
				<a href="/app/collections/">
					<li class="item">
						<span class="icon-stats"></span>
						Colecciones
					</li>
				</a>
				<a href="/app/arduinos/"> 
					<li class="item">
						<span class="icon-bars"></span>
						Arduinos
					</li>
				</a>
				<a href="/app/logout"> 
					<li class="item">
						<span class="icon-left"></span>
						Salir
					</li>
				</a>
			</ul>
		</div>
		<div class="cont2">
			<div class="row">
			<div class="filter-container">
				<ul class="filter-list">
					<li>
						<div class="filter">
						Filtrar usuarios por:
						</div>
					</li>
					<li>
						<a href="/app/users/">
							<div class="filter button">
								Todos
							</div>
						</a>
					</li>
					<li>
						<a href="/app/users/?only=admins">
							<div class="filter button">
								Administradores
							</div>
						</a>
					</li>
					<li>
						<a href="/app/users/?only=rest">
							<div class="filter button">
								Restauradores
							</div>
						</a>
					</li>
				</ul>
			</div>
			</div>
			<% if(users.length > 0) { %>
				<% for(var i = 0; i < users.length; ++i){ %>
					<article class="piece">
						<a href="/app/user/<%= users[i]._id %>" class="land">
							<article class="info">
								<span>
									<p><strong>Usuario: </strong><%= users[i].username %></p>
								</span>
									<p><strong>Nombre completo:</strong> <%= users[i].name %> <%= users[i].surname %></p>
									<p><strong>Correo:</strong> <%= users[i].email %></p>
									<p><strong>Teléfono:</strong> <%= users[i].phones[0] %></p>
									<p><strong>
										<% if (users[i].type == 0) { %>
											Administrador
										<% } else { %>
											Restaurador
										<% } %>
									</strong></p>
							</article>	
						</a>			
					</article>
				<% } %>
			<% } else { %>
				<article class="no_content">
					<p>No se encuetra ningún usuario</p>			
				</article>
			<% } %>
		</div>
		<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		    <a href="/app/user/new/" class="btn-floating waves-effect waves-light btn-large blue">
		      <i class="large mdi-content-add"></i>
		    </a>
		</div>
	</section>
	<script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <% if (message != '') { %>
	    <script>
	    	alert('<%= message %>');
	    </script>
    <% } %>
</body>
</html>