.tg
	border-collapse collapse
	border-spacing 0
	border-color #999
.tg td
	font-family Arial, sans-serif
	font-size 14px
	padding 10px 5px
	border-style solid
	border-width 1px
	overflow hidden
	word-break normal
	border-color #999
	color #444
	background-color #F7FDFA
.tg th
	font-family Arial, sans-serif
	font-size 14px
	font-weight normal
	padding 10px 5px
	border-style solid
	border-width 1px
	overflow hidden
	word-break normal
	border-color #999
	color #fff
	background-color #26ADE4
.tg .tg-7ser
	font-size 12px
	font-family Tahoma, Geneva, sans-serif !important
table
	width 400px
.humedad
	padding 4em
	float left
.temperatura
	float right
	padding  4em