gris = #D5D5D5
letra_gris = #2E373A
temperatura = #0C758E
humedad = #9C0000
blanco_obscuro = #f2f2f2

ul
	list-style none

html
	font-family 'Open Sans', sans-serif
	font-size 16px
p
	margin 0 0 .3em 0
	padding 0
select
	background white
	border-radius 2px
	border 0px
	padding 0 1em
	&:hover
		background blanco_obscuro	
input[type="submit"]
	background white
	border-radius 3px
	padding 0.2em 2em
	border 3px solid gris
	&:hover
		background blanco_obscuro
		border 3px solid gris	
input[type="button"]
	background rgba(0, 0, 0, 0) !important
	border 0 !important
input[type="text"],input[type="password"],input[type="email"]
	background white
	border 0px
	border-bottom 2px solid rgba(0, 0, 0, 0.2)
	width 100%
	&:hover
		background blanco_obscuro
.row
	width 100% !important
	margin 2em 0 
.large
	font-size 1.2em
.piece
	background white
	color letra_gris
	font-size 1.5em
	height 5em
	margin 0 1em .8em
	padding  3.5em.5em
	position relative
	width auto
	box-shadow 2px 2px 5px #888888
.register.row
	background blanco_obscuro
	color letra_gris
	font-size 1.5em
	height auto
	margin 0 1em .8em
	padding  6em.5em
	position relative
	width auto
	box-shadow 2px 2px 5px #888888
	.field
		display inline-block
		margin  0 0 1em 1.5em
		width 43%
		text-align center
	.title
		margin-left 2em
		text-align left
.register.arduino
	padding 7em
	background rgba(0,0,0,0)
	box-shadow 0 0 0 rgba(0,0,0,0)
.register.collection
	padding 4em
.register
	background blanco_obscuro
	color letra_gris
	font-size 1.5em
	height 5em
	margin 0 1em .8em
	padding  6em.5em
	position relative
	width auto
	box-shadow 2px 2px 5px #888888
	.field
		display inline-block
		margin  0 0 1em 1.5em
		width 43%
		text-align center
	.title
		margin-left 2em
.arduinos
	margin-left 1.5em
	position relative
	display inline-block
	padding .7em 3em
	p
		border-bottom 2px solid #c0c0c0
.info
	padding .5em
	text-decoration none
	color letra_gris
	
.filter-container
	background #414141
	margin 0 5em 1em
	color #dcdedf
	.filter-list
		list-style none
		li
			display inline-block
			&:hover
				border-bottom 5px #00afc2
	.filter
		display block
		padding .7em 0.5em
	.button
		color #dcdedf
		&:hover
			color #dcdedf
			background #2e373a
			border-bottom 5px #00afc2
			
	a
		color #dcdedf
		text-decoration none
.land
	position absolute
	top 0
	bottom 0
	left 0
	right 0
.metric
	position absolute
	bottom 0
	right 10px
	p
		font-size 1.2rem
	.temperatura
		color temperatura
	.humedad
		color humedad
.row
	display block
	width 100%
	text-align center
@media screen and (min-width:682px)
	.piece 
		width 41%
		float left
		margin 0 0 .8em 1em
		&:nth-child(even)
			margin-right 1em
			float right
@media screen and (max-width:594px)
	.row
		width 70%
	.register
		padding  10em.5em
		.arduinos
			margin-left .5em
		.title
			margin-left 1em
		.field
			width 85% !important
			margin .7em .5em
			font-size .8em
		h2
			font-size 1.2em
@media screen and (min-width:950px)
	.piece
		width 42%
@media screen and (min-width:1220px)
	.piece
		width 44%