@import "normalize.styl"
@import "fonts.styl"

amarillo = #F5E27B
azul = #00AFC2
gris = #818181
clarito = #F0F0F0
menu_letters = #DCDEDF
gray_menu = #414141
hover = #2E373A

a
	text-decoration none
html
body
	background #f0f0f0
 	font-family 'Open Sans', sans-serif
	font-size 16px
figure
	margin 0
img
	vertical-align top
	
input[type="button"]
	background rgba(0, 0, 0, 0) !important
	border 0 !important
#body-wrapper
	display none
#body-wrapper.site-overlay
	display block
#lupisha
	display none
#buscar
	background rgba(0, 0, 0, 0)
	border none
	color red
	font-size 1.2em
	padding .2em .3em
	position absolute
	right 45px
	text-align right
	top 22%
	width 45%
#buscar:focus
	border-bottom 1px solid white	
ul
	margin 0
	padding 0
	
::-webkit-input-placeholder
	color rgba(black,.3)
:-moz-placeholder
	color rgba(black,.3) 
::-moz-placeholder 
	color rgba(black,.3) 
:-ms-input-placeholder 
	color rgba(black,.3) 
header	
	margin-bottom 1.5em
	box-shadow 0px 2px 5px #888888
//buttons
.icon-menu
	position absolute
	top 50%
	margin-top -12px
	left .5em
	color white
	font-size 1.4em
.icon-search
	color white
	font-size 1.5em
	position absolute
	top 30%
	right 15px
//oocss
.ambar
	color amarillo
	font-size 1.6em
	margin 0
	width 50%
.header
	background azul
	height 3.5em
	position relative 
.hola 
	span
		margin-right .5em
		top 10px
.lel
.left
	float left
.logo
	padding .8em 0em
	position relative
	margin 0 0 0 2.5em
.right
	float right
.search
	width 50%
	padding 0 1em
#canvas
	width 1000px
	height 4em
.menu
	display none
@media screen and (min-width:950px)
	header
		margin-bottom 0
	.menu 
		display block
		width 17%
		float left
		height 100%
		background gray_menu
		font-size 1.2em
		text-align center
		position absolute
		ul
			list-style none
		li
			padding 2em 2em 2em
			border-left 5px solid transparent
			transition .2s
		a
			color menu_letters
		li:hover
			border-left 5px solid azul
			background hover
	.container
		padding 0
	.cont2
		width 83%
		float right
		margin 0
		padding-top 1.3em
	.menu-btn
		display none
