gris = #717272
gris_clarito = #DCDEDF

a
	text-decoration none
button
	background rgba(0, 0, 0, 0) !important
	border 0 !important
	padding 0
.pic
	height 100%
	margin 0 auto
	position relative
	width 100%
	img
		height 8em
		width 8em
	button
		border none
		color gris
		font-size 1.6em
		position absolute
		right 1em
		top .5em
		background transparent
.profile_pic
	height 8em
	margin 0 auto
	width 8em
.data
	color gris
	font-size 1.6em
	font-weight 100
	height 100%
	margin 0 auto
	padding 1.5em 0
	text-align center
	width 100%
.pieces
	margin 0 auto
	width 20em
	.piece
		background gris_clarito
		border 2px solid gris
		color gris
		display inline-block
		font-size 1.2rem
		height 6.8em
		margin-bottom 1em
		margin-right 1em
		position relative
		text-align center
		width 6.8em
		position relative
		&:nth-child(even)
			margin-right 0
		p
			margin .5em 0
		.info
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			width 50%
			height 50%
			margin auto
		a
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			color gris