@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-l2vv7q");
  src: url("../fonts/icomoon.eot?#iefix-l2vv7q") format('embedded-opentype'), url("../fonts/icomoon.woff?-l2vv7q") format('woff'), url("../fonts/icomoon.ttf?-l2vv7q") format('truetype'), url("../fonts/icomoon.svg?-l2vv7q#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\e600";
}
.icon-pencil:before {
  content: "\e605";
}
.icon-droplet:before {
  content: "\e606";
}
.icon-usuario:before {
  content: "\e601";
}
.icon-search:before {
  content: "\e607";
}
.icon-stats:before {
  content: "\e602";
}
.icon-bars:before {
  content: "\e603";
}
.icon-menu:before {
  content: "\e608";
}
.icon-left:before {
  content: "\73";
}
.icon-temp:before {
  content: "\e609";
}
