/* normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
body {
  background: #414141;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
figure {
  margin: 0;
}
img {
  width: 80px;
  height: 80px;
}
input {
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  color: #414141;
  font-size: 1.2em;
  height: 3.5em;
  margin-top: 2em;
  padding: 0 1em;
  text-align: center;
  width: 100%;
}
input[type=submit] {
  background: #52a7f9;
  color: #fff;
  height: 2.6em;
}
.container {
  background: #f2f2f2;
  margin: 5em 2em 3em 2em;
  padding: 4.5em 1.5em 4em 1.5em;
  position: relative;
}
.title {
  font-size: 1.7em;
  font-weight: 100;
  margin: 0;
  text-align: center;
}
.user {
  height: 80px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: -40px;
  width: 80px;
}
@media screen and (min-width: 480px) {
  img {
    width: 100px;
    height: 100px;
  }
  .user {
    height: 100px;
    top: -50px;
    width: 100px;
  }
}
@media screen and (min-width: 1010px) {
  input {
    float: left;
    width: 31.25%;
    height: 2.6em;
  }
  input[type=text],
  input[type=password] {
    margin-right: 1em;
  }
  .container {
    height: 10em;
    margin: 7em 10em 3em 10em;
    padding: 4.5em 2em 4em 2em;
  }
  .login {
    width: 100%;
    margin: 0 auto;
  }
}
