ul {
  list-style: none;
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
p {
  margin: 0 0 0.3em 0;
  padding: 0;
}
select {
  background: #fff;
  border-radius: 2px;
  border: 0px;
  padding: 0 1em;
}
select:hover {
  background: #f2f2f2;
}
input[type="submit"] {
  background: #fff;
  border-radius: 3px;
  padding: 0.2em 2em;
  border: 3px solid #d5d5d5;
}
input[type="submit"]:hover {
  background: #f2f2f2;
  border: 3px solid #d5d5d5;
}
input[type="button"] {
  background: rgba(0,0,0,0) !important;
  border: 0 !important;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  background: #fff;
  border: 0px;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  width: 100%;
}
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  background: #f2f2f2;
}
.row {
  width: 100% !important;
  margin: 2em 0;
}
.large {
  font-size: 1.2em;
}
.piece {
  background: #fff;
  color: #2e373a;
  font-size: 1.5em;
  height: 5em;
  margin: 0 1em 0.8em;
  padding: 3.5em 0.5em;
  position: relative;
  width: auto;
  box-shadow: 2px 2px 5px #888;
}
.register.row {
  background: #f2f2f2;
  color: #2e373a;
  font-size: 1.5em;
  height: auto;
  margin: 0 1em 0.8em;
  padding: 6em 0.5em;
  position: relative;
  width: auto;
  box-shadow: 2px 2px 5px #888;
}
.register.row .field {
  display: inline-block;
  margin: 0 0 1em 1.5em;
  width: 43%;
  text-align: center;
}
.register.row .title {
  margin-left: 2em;
  text-align: left;
}
.register.arduino {
  padding: 7em;
  background: rgba(0,0,0,0);
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
.register.collection {
  padding: 4em;
}
.register {
  background: #f2f2f2;
  color: #2e373a;
  font-size: 1.5em;
  height: 5em;
  margin: 0 1em 0.8em;
  padding: 6em 0.5em;
  position: relative;
  width: auto;
  box-shadow: 2px 2px 5px #888;
}
.register .field {
  display: inline-block;
  margin: 0 0 1em 1.5em;
  width: 43%;
  text-align: center;
}
.register .title {
  margin-left: 2em;
}
.arduinos {
  margin-left: 1.5em;
  position: relative;
  display: inline-block;
  padding: 0.7em 3em;
}
.arduinos p {
  border-bottom: 2px solid #c0c0c0;
}
.info {
  padding: 0.5em;
  text-decoration: none;
  color: #2e373a;
}
.filter-container {
  background: #414141;
  margin: 0 5em 1em;
  color: #dcdedf;
}
.filter-container .filter-list {
  list-style: none;
}
.filter-container .filter-list li {
  display: inline-block;
}
.filter-container .filter-list li:hover {
  border-bottom: 5px #00afc2;
}
.filter-container .filter {
  display: block;
  padding: 0.7em 0.5em;
}
.filter-container .button {
  color: #dcdedf;
}
.filter-container .button:hover {
  color: #dcdedf;
  background: #2e373a;
  border-bottom: 5px #00afc2;
}
.filter-container a {
  color: #dcdedf;
  text-decoration: none;
}
.land {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.metric {
  position: absolute;
  bottom: 0;
  right: 10px;
}
.metric p {
  font-size: 1.2rem;
}
.metric .temperatura {
  color: #0c758e;
}
.metric .humedad {
  color: #9c0000;
}
.row {
  display: block;
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 682px) {
  .piece {
    width: 41%;
    float: left;
    margin: 0 0 0.8em 1em;
  }
  .piece:nth-child(even) {
    margin-right: 1em;
    float: right;
  }
}
@media screen and (max-width: 594px) {
  .row {
    width: 70%;
  }
  .register {
    padding: 10em 0.5em;
  }
  .register .arduinos {
    margin-left: 0.5em;
  }
  .register .title {
    margin-left: 1em;
  }
  .register .field {
    width: 85% !important;
    margin: 0.7em 0.5em;
    font-size: 0.8em;
  }
  .register h2 {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 950px) {
  .piece {
    width: 42%;
  }
}
@media screen and (min-width: 1220px) {
  .piece {
    width: 44%;
  }
}
