/* normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-l2vv7q");
  src: url("../fonts/icomoon.eot?#iefix-l2vv7q") format('embedded-opentype'), url("../fonts/icomoon.woff?-l2vv7q") format('woff'), url("../fonts/icomoon.ttf?-l2vv7q") format('truetype'), url("../fonts/icomoon.svg?-l2vv7q#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-home:before {
  content: "\e600";
}
.icon-pencil:before {
  content: "\e605";
}
.icon-droplet:before {
  content: "\e606";
}
.icon-usuario:before {
  content: "\e601";
}
.icon-search:before {
  content: "\e607";
}
.icon-stats:before {
  content: "\e602";
}
.icon-bars:before {
  content: "\e603";
}
.icon-menu:before {
  content: "\e608";
}
.icon-left:before {
  content: "\73";
}
.icon-temp:before {
  content: "\e609";
}
a {
  text-decoration: none;
}
html,
body {
  background: #f0f0f0;
}
font-family 'Open Sans',
sans-serif {
  font-size: 16px;
}
figure {
  margin: 0;
}
img {
  vertical-align: top;
}
input[type="button"] {
  background: rgba(0,0,0,0) !important;
  border: 0 !important;
}
#body-wrapper {
  display: none;
}
#body-wrapper.site-overlay {
  display: block;
}
#lupisha {
  display: none;
}
#buscar {
  background: rgba(0,0,0,0);
  border: none;
  color: #f00;
  font-size: 1.2em;
  padding: 0.2em 0.3em;
  position: absolute;
  right: 45px;
  text-align: right;
  top: 22%;
  width: 45%;
}
#buscar:focus {
  border-bottom: 1px solid #fff;
}
ul {
  margin: 0;
  padding: 0;
}
::-webkit-input-placeholder {
  color: rgba(0,0,0,0.3);
}
:-moz-placeholder {
  color: rgba(0,0,0,0.3);
}
::-moz-placeholder {
  color: rgba(0,0,0,0.3);
}
:-ms-input-placeholder {
  color: rgba(0,0,0,0.3);
}
header {
  margin-bottom: 1.5em;
  box-shadow: 0px 2px 5px #888;
}
.icon-menu {
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0.5em;
  color: #fff;
  font-size: 1.4em;
}
.icon-search {
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  top: 30%;
  right: 15px;
}
.ambar {
  color: #f5e27b;
  font-size: 1.6em;
  margin: 0;
  width: 50%;
}
.header {
  background: #00afc2;
  height: 3.5em;
  position: relative;
}
.hola span {
  margin-right: 0.5em;
  top: 10px;
}
.lel,
.left {
  float: left;
}
.logo {
  padding: 0.8em 0em;
  position: relative;
  margin: 0 0 0 2.5em;
}
.right {
  float: right;
}
.search {
  width: 50%;
  padding: 0 1em;
}
#canvas {
  width: 1000px;
  height: 4em;
}
.menu {
  display: none;
}
@media screen and (min-width: 950px) {
  header {
    margin-bottom: 0;
  }
  .menu {
    display: block;
    width: 17%;
    float: left;
    height: 100%;
    background: #414141;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
  }
  .menu ul {
    list-style: none;
  }
  .menu li {
    padding: 2em 2em 2em;
    border-left: 5px solid transparent;
    transition: 0.2s;
  }
  .menu a {
    color: #dcdedf;
  }
  .menu li:hover {
    border-left: 5px solid #00afc2;
    background: #2e373a;
  }
  .container {
    padding: 0;
  }
  .cont2 {
    width: 83%;
    float: right;
    margin: 0;
    padding-top: 1.3em;
  }
  .menu-btn {
    display: none;
  }
}
