.statistics {
  width: 200px;
  margin: 0 auto;
}
.statistics p {
  font-size: 1em;
}
.statistics span {
  font-size: 2em;
}
.container {
  padding: 1.3em 0;
  width: 100%;
  height: 100%;
}
.center {
  margin: 0 auto;
}
.data {
  text-align: center;
}
.temp {
  color: #0c758e;
}
.hum {
  color: #9c0000;
}
.size {
  display: inline-block;
  line-height: 200px;
  z-index: 2;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: 1em;
}
.celcius:after {
  content: '°';
  margin-left: 0.1em;
  font-size: 1em;
}
.stat {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 30px;
  text-align: center;
  font-weight: bold;
}
.stat canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.info p {
  font-size: 1.2em;
}
.tempe {
  color: #0c758e;
}
.hume {
  color: #9c0000;
}
.chart {
  height: 20em;
  width: 100%;
  margin: 1.5em auto;
}
.lolo {
  margin: 0 2em;
}
#name {
  font-size: 1.7em;
  margin-bottom: 0;
}
#room {
  font-size: 1.2em;
  font-weight: 100;
}
@media screen and (min-width: 455px) {
  .stat {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    text-align: center;
    font-weight: bold;
  }
  .stat:nth-child(even) {
    margin-right: 0;
  }
  .statistics {
    width: 455px;
    margin: 0 auto;
  }
  .statistics p {
    font-size: 1em;
  }
  .statistics span {
    font-size: 2em;
  }
}
