<!DOCTYPE html>
<html lang="en">
<head>
	{% load static from staticfiles%}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	
    <title>API To prove</title>
	
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'Temperature', 'Humidity'], 
		  {% for record in records %}
          ['{{record.registerTime | date:"f:s" }}', {{record.temperature}}, {{record.humidity}}],
		  {% endfor %}
        ]);

        var options = {
          title: 'Company Performance'
        };

		
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
	
  </head>
  <body>

    <div class="container">
      <div class="page-header">
        <h1>Test API URLS</h1>
      </div>
      <p class="lead">POST an Arduino<pre>http://pablotrinidad.ngrok.com/api/post/arduino/</pre></p>
	  <p class="lead">POST a Record<pre>http://pablotrinidad.ngrok.com/api/post/record/</pre></p>
      <div class="page-header">
        <h1>Arduinos</h1>
      </div>
	  <div class="arduino">
		<div id="chart_div" style="width: 900px; height: 500px;"></div>
	  </div>
    </div>
</body>
</html>